name: Test hassfest

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  hassfest:
    runs-on: ubuntu-latest
    name: hassfest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6.0.2
      
      - name: Test hassfest
        uses: ./hassfest
